body{
    margin: auto
}

#form, #register{
display: flex;
flex-direction: column;
gap: .5em;
padding-right: 35em;
padding-left: 35em;
margin-bottom: 4em;

}

#updateContainer {
    display: flex;
    flex-direction: row;
    gap: 15em;
    padding-left: 35em;
    padding-right: 15em;
    margin-bottom: 4em;
}
#formImage, #formContent {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

h2, p{align-self: center;
font-family: sans-serif;}

