body{
    margin: auto;
    background-color: beige;
    padding-bottom: 2em;
}


#form, #register, #login{
display: flex;
flex-direction: column;
gap: .5em;
margin-bottom: 4vw;
padding-right: 36vw;
padding-left: 35vw;

}
#login1 {
gap: .5em;
padding-right: 14vw;
padding-left: 14vw;
font: 1vw Arial;

}

#formImage, #formContent {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

h2, p, h3{align-self: center;
font-family: sans-serif;
}

h3, #logout{margin-left: 1vw;}

h2{
text-align: center;
padding-top: 1vw;}

#cards{
display: flex;
flex-wrap: wrap;
gap: 5vw;
justify-content: center;}

#modal{
    padding-top: 5vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

#formContent {padding: .25vw;
    background-color: beige}


#button{margin-left: 25vw; margin-right: 25vw}

/* #file {
  display: none;
} */

/* Style the custom button */
/* .custom-file-button {
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding: 10px 20px;
  background-color: #a14b30;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.59);
}

.custom-file-button:hover {
    background-color: #8c412a;
} */