.modal{
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.modal-form{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
/* .inner-modal{
    width: 50%;

} */