@font-face{
    font-family: "Salsa-Regular";
    src: url("src/fonts/salsa-regular.ttf") format("truetype")

}

.logo{
    width: 40vh;
    height:40vh;
    margin-top: 1em;
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.title{
    font-family: "Salsa-Regular";
    color:#a04d31;
    font-size: 45px;
    text-align: center;
}

.white-badge .MuiBadge-badge {
    background-color: white;
    color: #2196f3;
}
